.error-page {
    padding: 92px 0 0 0;
    width: 1280px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: normal;
    font-style: normal;
    text-align: center;
}

.error-page__heading{
    margin: 0; 
    font-size: 140px;    
    font-weight: 400;    
}

.error-page__span {
    margin-top: 4px;
    font-size: 16px;
}

.error-page__btn {
    justify-self: flex-end;
    margin-top: 184px;
    width: 42px;
    font-size: 14px;
    background: transparent;
    border: none;
    padding: 0;
}