.heading {
    font-size: 22px;
    letter-spacing: -0.88px;
    font-weight: 400;
    line-height: normal;

    height: 50px;
    margin: 0;
    border-bottom: 1px solid black;
}

.article-heading {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.subheading {
    margin: 30px 0 0 0;

    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.article {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@media screen and (max-width: 865px) {
    .article{
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 732px) {
    .heading {
        font-size: 18px;
        letter-spacing: -0.72px;
    }
    .subheading {
        font-size: 18px;
        letter-spacing: -0.72px;
        margin: 60px 0 16px 0;
    }
    .article {
        font-size: 11px;
        line-height: 16px;
        margin: 0;
    }
    .article-heading {
        font-size: 30px;
        letter-spacing: -1.2px;
    }
}