.header{
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    height: 74px;
    padding: 0 70px;

    
    color: #000;
    display: grid;
    grid-template-areas:
        "logo nav";
    justify-content: space-between;
}

.header_landing {
    background-color: #f3c1f8;
}

.header__logo{
    grid-area: logo;
    margin: auto 0;
    width: 38px;
    height: 38px;
}

.header__nav{
    grid-area: nav;
    margin: auto 0;
}

.nav-list{
    display: inline-block;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list__item{
    display: inline-block;
    margin: 0 0 0 20px;

    cursor: pointer;
    transition: all ease 0.3s;
}

.nav-list__item:hover {
    opacity: 0.7;
    transition: all ease 0.3s;
}

.nav-list__item:nth-child(3){
    margin-left: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.nav-list__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 18px;
}

.nav-list__btn_active {
    font-weight: 500;
}

.btn-img{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: 0;
    margin-left: 13px;

    background: #F9F9F9;
    background-image: url(../../images/ico__ak.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.btn-img_landing {
    background: #000;
    background-image: url(../../images/ico__ak_landing.svg);
}

.nav-list__btn_registration {
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.nav-list__btn_signin{
    display: block;
    width: 76px;
    height: 32px;

    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    
    border-radius: 3px;
    background: #000;
}